.footer {
    position: relative;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    min-width: auto;
    text-align: center;
    background-color: grey;
    color: #d9cece;
    height: 22px;
}